# Build and upload the rust binary to GitHub releases
name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    name: Building (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    strategy:
      matrix:
        job:
          - os: macos-latest
            target: x86_64-apple-darwin
            use-cross: false
          - os: macos-latest
            target: aarch64-apple-darwin
            use-cross: false
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            use-cross: false
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            use-cross: false
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            use-cross: true

    steps:
      - name: Installing Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.job.target }}
          profile: minimal
          override: true
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          use-cross: ${{ matrix.job.use-cross }}
          args: --release --target ${{ matrix.job.target }}

      - name: Renaming binary
        run: |
          mv target/${{ matrix.job.target }}/release/p target/${{ matrix.job.target }}/release/p-${{ matrix.job.target }}
          mv target/${{ matrix.job.target }}/release/p.exe target/${{ matrix.job.target }}/release/p-${{ matrix.job.target }}.exe
          mv target/${{ matrix.job.target }}/release/p.deb target/${{ matrix.job.target }}/release/p-${{ matrix.job.target }}.deb

      - name: Releasing assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/${{ matrix.job.target }}/release/p
            target/${{ matrix.job.target }}/release/p.exe
            target/${{ matrix.job.target }}/release/p.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write